<div class="d-flex justify-content-end mb-4">
  <button mat-raised-button color="primary" routerLink="/product">Add New Product</button>
</div>

<mat-card>
  <mat-card-title class="pt-3 ml-5">
    <span>All Products</span>
  </mat-card-title>
  <mat-card-content class="wrapper pl-4 pr-4">
    <table class="table mt-4 text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index" [@slide]>
          <th scope="row">{{i + 1}}</th>
          <td>{{product.title}}</td>
          <td title="{{product.description}}">{{product.description | slice:0:40}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td class="d-flex justify-content-around">
            <button mat-stroked-button color="primary" (click)="updateProduct(product.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-stroked-button color="warn" (click)="openDialog(product.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>

</mat-card>

<br><br><br><br>

<ng-template #deleteDialog>
  <h1 mat-dialog-title>Delete Product</h1>
  <div mat-dialog-content>
    <p>Press Delete to permanantly delete product</p>
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-button color="warn" (click)="deleteProduct()">Delete</button>
  </div>
</ng-template>